{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Nuevo emprendimiento{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/view.css')}} rel="stylesheet" type="text/css">
<script type="text/javascript" src={{ asset('bundles/asociateya/lib/js/view.js')}}></script>
  <link href={{ asset('bundles/asociateya/css/formulario_asociacion.css')}} rel="stylesheet" type="text/css">
	<script type="text/javascript" src={{ asset('bundles/asociateya/lib/js/datos_emprendimiento.js')}}></script>
  <script type="text/javascript" src={{ asset('bundles/asociateya/lib/js/subscripciones.js')}}></script>


   <script>
     $(document).ready(function(){
         $('#cantidad').on('input', function() {
             $('#valorCalculado').html('$'+$(this).val()*{{entity.precioAccion}}) // get the current value of the input field.
         });
     });
   </script>




{% endblock %}



{% block body -%}


  <!-- insert the page content here -->
  <h1 id="ID_nombreProyecto">Asociate a {{entity.nombre}}</h1>
  <form name="formCompra" action="{{ path('inversion_confirmarPago', { 'id': entity.id }) }}" method="post">
    <h3>&iquest;Cu&aacute;nto desea inventir en este proyecto?</h3>

    <div class="etiqueta calculadora">

      <input name="cantidad" id="cantidad" type="text" /> acciones X ${{entity.precioAccion}} = <span id="valorCalculado">$0</span>

    </div>
  </br>
  </br>

    <h3>Modelo de Contrato de Fideicomiso</h3>

    <textarea disabled class="description" name="term" id="term" cols="40" rows="20" style="width: 100%;resize: none;">


      CONTRATO DE FIDEICOMISO

      Este contrato se suscribe en la Ciudad de Buenos Aires  a los ___ ( _______)  días del mes de _______ de 2016 entre:

      I. {{app.user.getNombre}} {{app.user.getApellido}}, argentino, DNI {{ app.user.getDni}},  con domicilio en la calle {{app.user.getDireccion}} de la Ciudad de {{app.user.getCiudad}}  en adelante denominados los  “ Fiduciantes”
      Y
      II. ASOCIATE YA TRUST SOCIEDAD ANÓNIMA , con  domicilio en la calle 11 de Septiembre de 1888, 748, 7mo B, de la Ciudad de Buenos Aires , representada en este acto por la representante legal Julián García, en adelante llamado el “Fiduciario”, quienes:

      MANIFIESTAN

      I. Que los Fiduciantes  resultan pequeños inversores, quienes han decidido aportar al presente fideicomiso conforme las cláusulas de este contrato y aceptando que resulta coincidente con la propuesta publicada en el sitio web www.asociateya.com. Que al momento de celebrarse el presente, todos los fiduciantes acompañan en este acto el compromiso emitido por el sitio web según el cual tienen derecho a participar en el porcentual que indica cada documento. El total de los documentos aportados se corresponde con el 100% del monto indicado en el sitio web, equivalente a un total nominal de $ [_____________].

      II. Que el Fiduciario es una firma comercial, constituida el día _________ inscripta en ___________ el día 10 de abril de 2007, dedicada a estructurar fideicomisos ordinarios de acuerdo a las disposiciones del Código Civil y Comercial de la Nación y sus normas concordantes.

      III. Que se ha proyectado financiar parcialmente la capitalización de la sociedad que será denominada “RED SOCIAL S.A” mediante recursos provenientes de Inversores interesados en participar en el desarrollo referido. En caso que el Registro Público de Comercio no permita inscribir dicha razón social, la misma podrá ser modificada pero siempre respondiendo al Proyecto que se detalla en la carta de intención adjunta.

      IV. Que  la presente operación se realiza en forma privada, vale decir sin que la misma constituya una oferta pública encuadrada dentro de la normativa prevista por la leyes 17.811, Ley 26.831 y sus normas complementarias.

      V. Que a los efectos contemplados en los objetivos reseñados precedentemente, resulta necesario constituir la estructura  adecuada que permita aislar el referido emprendimiento de contingencias ajenas al mismo, a cuyo efecto se considera conveniente conformar un fideicomiso de inversión sometido a los artículos 1666 y siguientes del Código Civil y Comercial de la Nación, y  las disposiciones que se establecen a lo largo del presente Contrato.


      SECCIÓN PRIMERA
      DEFINICIONES Y REGLAS DE INTERPRETACIÓN

      Definiciones

      BENEFICIO: Es el resultado de las operaciones instrumentadas a través de este Fideicomiso, que se liquidará y distribuirá en especie o dinero entre los Beneficiarios, tal como se establece en la Sección Cuarta.

      BENEFICIARIOS: Son los Fiduciantes conforme se determina en la cláusula  vigésima sexta quienes a su vez revisten el carácter de Fideicomisario.

      CONTRATO o FIDEICOMISO: Son las disposiciones que conforman el presente documento.

      CUOTA PARTE: Es la unidad de medida que determinará la participación de cada Inversor en la operación realizada a través de este Fideicomiso. El Plan de Inversión establecerá en forma definitiva el número de Cuotas Partes que conformará la inversión necesaria para llevar a cabo la operación reseñada en las manifestaciones que preceden este Contrato. El  Beneficio de cada Inversor  se calculará conforme a la cantidad de Cuotas Partes suscriptas e integradas al Fideicomiso por medio de un Instrumento de Inversión. El Fiduciante determinará el momento, la cantidad y el valor de venta de las Cuotas Partes. El valor de cada Cuota Parte será establecido en Pesos Argentinos y en cada  Instrumento de Inversión constará la cantidad de Cuotas Partes cuya integración compromete el Inversor.

      FIDEICOMISARIO: Es el Fiduciante en su carácter de Beneficiario del Remanente Fiduciario.

      PATRIMONIO FIDUCIARIO: Son los bienes y derechos que se enumeran en la Sección Segunda, Capitulo I,  cláusula cuarta de este Contrato.

      REMANENTE FIDUCIARIO: Es el remanente  de las  Cuotas Partes  que determinadas en el Plan de Inversión, no hubiesen sido suscriptas e integradas por los Inversores al momento de liquidarse  el  Fideicomiso.


      SECCION SEGUNDA
      DISPOSICIONES GENERALES

      CAPITULO I
      DENOMINACION
      FINALIDAD –  OBJETO - PLAZO  - AMPLIACION - PATRIMONIO – AFECTACION -

      Cláusula Primera
      Denominación
      Finalidad del Fideicomiso
      El presente Fideicomiso se denominará “Fideicomiso Red Social 1”  y se constituye a efectos de de conformar un vehículo apropiado para financiar el proyecto comercial que se ha determinado en el documento anexo. Este vehículo resulta de utilidad para permitir a los fiduciantes participar en un proyecto de magnitud al cual resultaría más costoso acceder en forma independiente, reduciéndose así los costos de transacción. A tal efecto el mecanismo elegido  constituye un patrimonio autónomo, exento de los riesgos propios de la actividad del Fiduciante y del Fiduciario.

      Cláusula Segunda
      Objeto
      Este Fideicomiso pretende regular las relaciones jurídicas y comerciales entre los firmantes y los terceros que a lo largo de su vigencia.

      Cláusula Tercera
      Plazo del Fideicomiso
      3.1. Este Contrato se constituye por el plazo máximo de  treinta (30)  años contados a partir del día de la fecha.
      3.2. No obstante lo expuesto se extinguirá, si antes de vencido el término señalado en el punto anterior. El Fideicomiso no se extinguirá por otra causal que no fuere el transcurso del tiempo, o alguna de las causales dispuestas en la Ley 19.550 que determinen la disolución y/o liquidación de la sociedad anónima a constituirse.

      Cláusula Cuarta
      Patrimonio Fiduciario
      Conformará el activo del Patrimonio Fiduciario los siguientes bienes:
      4.1. La propiedad fiduciaria de los bienes aportados al momento de su constitución.
      4.2. Los dividendos que las acciones a adquirir pudieran devengar, como así también el aumento del valor de los títulos valores a lo largo de la existencia del fideicomiso.
      4.3. Cualquier otro rendimiento de intereses, ganancias o beneficios que surgiere por la aplicación de los fondos aportados.

      Cláusula Quinta
      Afectación del Patrimonio Fiduciario
      El Patrimonio Fiduciario queda afectado única y exclusivamente a los fines que se establecen en este Fideicomiso y sólo podrán ejercitarse respecto a él, los derechos y acciones necesarios para lograr dichos fines.

      Cláusula Sexta
      Alcance de los Derechos y Obligaciones
      Del Fiduciario
      La enumeración de los derechos y compromisos señalados en este Contrato son de carácter enunciativo, debiendo entenderse que el Fiduciario se encuentra autorizado a realizar todos los actos necesarios o convenientes para llevar a cabo el objeto de este Fideicomiso. El Fiduciario deberá disponer de los importes depositados en las cuentas fiduciarias sólo para cumplir las obligaciones inherentes a este Contrato.


      Cláusula  Séptima
      Responsabilidad del Fiduciario
      A los efectos correspondientes se deberá tener en cuenta que el Fiduciario no garantiza el éxito de la inversión y operación objeto de este Contrato y que todas sus obligaciones deben ser consideradas “de medio”, por lo que en consecuencia no asegura el resultado esperado de las mismas. El patrimonio del Fiduciario no se encuentra afectado a este Fideicomiso, y todos los compromisos emanados de este Contrato deberán ser solventados exclusivamente con el Patrimonio Fiduciario de acuerdo a lo establecido en los artículos 1686, 1687 y 1688 del Código Civil y Comercial de la Nación. Ninguna de las cláusulas del Fideicomiso podrá ser interpretada atribuyendo al Fiduciario el deber de adelantar fondos o poner en riesgo de cualquier manera  su patrimonio personal. El Fiduciario sólo se compromete a realizar sus mejores esfuerzos para desarrollar las tareas que se le asignan conforme el art. 1614 del Código Civil y Comercial de la Nación; y únicamente responderá cuando medie de su parte culpa o dolo, declarado como tal en una sentencia emanada de un tribunal competente.

      Cláusula Octava
      Retribución del Fiduciario
      Rendición de Cuentas
      8.1. La retribución del Fiduciario será abonada por el Fideicomiso y estará contemplada dentro del presupuesto que forma parte del Plan de Inversión. A los efectos establecidos en este apartado el Fiduciario emitirá al Fideicomiso las correspondientes facturas.
      8.2. En forma trimestral el Fiduciario rendirá cuentas de su gestión a los Beneficiarios del Fideicomiso entregando a los mismos los elementos señalados en el punto 13.12 de la cláusula décima tercera. Para proceder a su confección, el Fiduciante deberá aportar todos los elementos y datos necesarios para su oportuna presentación, teniendo en cuenta las gestiones que este Contrato imponen a su cargo.
      8.3. La no observación o impugnación de este documento en un plazo de quince (15) días hábiles, contado a partir de la puesta a disposición a los Beneficiarios de la correspondiente rendición, importará la conformidad con la misma.


      Cláusula  Novena
      Cesión del Beneficio
      Previa autorización otorgada por escrito del Fiduciario, los Beneficiarios   podrán ceder total o parcialmente su Beneficio.

      Cláusula  Décima
      Cese del Fiduciario
      En caso de cese del Fiduciario por cualquiera de las causales previstas por el artículo 1678 del Código Civil y Comercial de la Nación, el mismo será sustituido en esa calidad por la persona física o jurídica que designe el Fiduciante. Si el designado sustituto no aceptara o si habiendo aceptado se diere a su respecto una causal de cese, se designará nuevo sustituto de igual manera a la consignada precedentemente. En todo caso el Fiduciario cesante seguirá en la administración hasta que asuma el fiduciario sustituto, limitando su actuación durante ese período a los actos de conservación del Patrimonio Fiduciario.

      Cláusula  Décima Primera
      Adecuación o Modificación  del Fideicomiso
      Durante el transcurso de este Contrato se podrán modificar las disposiciones insertas en este Fideicomiso con el propósito de lograr el mejor cumplimiento de los fines para el cual se ha constituido. A tal efecto se deberá  tener la expresa conformidad del Fiduciante y  resguardar adecuadamente los intereses y derechos de los restantes Beneficiarios. 

      Cláusula Décima Segunda
      Gastos – Impuestos  - Honorarios
      Los gastos, impuestos y honorarios causados por la formalización de este Fideicomiso y su  extinción serán soportadas por el Patrimonio Fiduciario.
      Conforme al artículo 371 del Código Fiscal de la Ciudad Autónoma de Buenos Aires el impuesto de sellos correspondiente a este instrumento será del equivalente a $ ________(pesos Argentinos).

      SECCION TERCERA

      CAPITULO I
      EL FIDUCIARIO - DERECHOS Y OBLIGACIONES.

      Cláusula Décima Tercera
      Enumeración
      Sin perjuicio de los compromisos que de manera explicita o implícita surjan de las disposiciones de este Fideicomiso y/o del Código Civil y Comercial de la Nación en los artículos 1666 y siguientes, constituyen derechos y obligaciones del Fiduciario:
      13.1. Suscribir  a favor del Fideicomiso la transferencia de la propiedad fiduciaria de las acciones de la sociedad anónima a constituirse con los aportes realizados, de la cual el Fideicomiso será accionista en un _______% (_________ por cien) del total de acciones emitidas al momento de la constitución conforme la Ley 19.550.
      13.2. Contribuir con el Fiduciante en todos los aspectos que pueda requerir para confeccionar el Plan de Inversión cuyas características se detallan en la cláusula décima quinta.
      13.4. Confeccionar y mantener actualizado el libro de Inversores.
      13.5. Realizar, redactar y suscribir en su carácter de titular del Fideicomiso todos los poderes, contratos y documentos necesarios para la el ejercicio de los derechos que deriven de la aplicación de los fondos aportados.
      13.7. Abrir cuentas bancarias para el Fideicomiso, depositando en las mismas todos los ingresos que formen parte del Patrimonio Fiduciario, y utilizar únicamente  estos recursos para solventar todos los gastos del Fideicomiso y de su liquidación, conforme se prescribe en la cláusula vigésima.
      13.8.  Defender al Fideicomiso respecto de cualquier demanda o requerimiento judicial o extrajudicial que pudiera involucrarlo o afectarlo y accionar contra terceros cuando fuese necesario.
      13.10. Abonar los impuestos nacionales  y municipales que afecten al Patrimonio Fiduciario y los correspondientes a la actividad desplegada por el Fideicomiso, como también todo el pasivo que se generen durante la gestión, con dinero proveniente del Patrimonio Fiduciario, incluyendo los considerados en el apartado 21.3 de la cláusula vigésima primera.
      13.11. Representar al Fideicomiso en toda Asamblea o circunstancia que corresponda en representación de los derechos de éste.
      13.12. Rendir cuentas a los Beneficiarios del Fideicomiso en forma trimestral, presentando un estado patrimonial, estado de resultados y una memoria indicando el valor presente neto del proyecto y un desarrollo de los flujos de fondos del Fideicomiso. Asimismo, poner a disposición de los inversores o fiduciantes todos los documentos e información que le corresponden a un accionista de la sociedad a constituirse, a fin de que éstos puedan tomar las decisiones globales que consideren pertinente, las cuales serán representadas por el Fiduciario.
      13.13. Percibir la retribución que se establece en la cláusula octava.
      13.14.  En caso de cese en su calidad de Fiduciario, transferir el Patrimonio Fiduciario al sustituto, tal como se establece en la cláusula décima.
      13.15. Dar por finalizado este Contrato en los casos denunciados y realizar la correspondiente liquidación.

      Cláusula Décima Cuarta
      Incumplimiento
      El incumplimiento por parte del  Fiduciante con lo dispuesto en la cláusula anterior funcionará como condición resolutoria de este Fideicomiso y por lo tanto este Contrato quedará sin efecto alguno. No obstante lo expuesto, el Fiduciante deberá reintegrar al Fiduciario cualquier importe que pudiera haberse adelantado y abonarle los trabajos realizados hasta la verificación de esa circunstancia. De igual manera deberá responsabilizarse de cualquier contingencia proveniente de las obligaciones que hubiese asumido el Fideicomiso hasta esa fecha con expresa autorización del Fiduciante.

      Cláusula  Décima Quinta
      Plan de Inversión
      Antes de proceder a la suscripción de Inversores, el Fiduciante confeccionará el Plan  de Inversión. Este documento contendrá por lo menos ( a ) un presupuesto total de la operación ( b )  un cronograma de ejecución de los trabajos  y  ( c ) establecerá en forma definitiva el número de Cuotas Partes  que, sin perjuicio de su valor, determinará la participación de los Inversores en la operación de títulos valores realizada a través de este Fideicomiso. La Cuota Parte  servirá también como unidad de medida  para liquidar el Beneficio conforme se establece en la cláusula vigésima séptima. Durante el plazo de este Contrato, el Fiduciante determinará las fechas en que se ofrecerán vender Cuotas Partes  a quienes se encuentren interesados en participar como Inversores en la operación, estableciendo en cada oportunidad la cantidad de Cuotas Partes a suscribir, el valor de cada una, su característica y el plazo de integración. Los restantes fiduciantes tendrán derecho de preferencia para adquirir las cuotas partes que se encuentren a la venta.

      Cláusula Décima Sexta
      Libro de Inversores
      El Fiduciario deberá llevar un libro donde se registrarán los datos personales de cada Inversor, las Cuotas Partes suscriptas e integradas y las cesiones realizadas, consignándose  en estos casos los datos de los respectivos cesionarios.

      Cláusula Décima Séptima
      Cuentas Fiduciarias
      A los efectos establecidos en este Contrato el Fiduciario deberá abrir cuentas independientes para el Fideicomiso, con el propósito de discriminar fácilmente los movimientos de  esta operativa.  

      CAPITULO II
      EL  FIDUCIANTE
      DERECHOS Y OBLIGACIONES
      Cláusula  Décima Octava
      Enumeración
      Sin perjuicio de los derechos y obligaciones establecidos en el Código Civil y Comercial de la Nación y de los que surjan de manera expresa o implícita de este Contrato,  constituyen derechos y obligaciones del Fiduciante:
      18.1. Transferir al Fideicomiso la propiedad fiduciaria de los aportes a realizar conforme lo establecido en este contrato.
      18.2. Confeccionar el Plan de Inversión, realizando todas las tareas que se determinan en la cláusula décima cuarta.
      18.3. Requerir al Fiduciario la contratación de financiación adicional para llevar a cabo su actividad, cumplimentando a tal efecto lo dispuesto en la cláusula décima quinta.
      18.4. Confeccionar y entregar al Fideicomiso cualquier documento, elemento o autorización que pueda requerirse para completar o interpretar adecuadamente el Proyecto Ejecutivo cuyos derechos se cedieron al Fideicomiso.
      18.5. Durante el plazo de este Contrato decidir las fechas donde se ofrecerá la suscripción de Cuotas Partes a terceros, estableciendo el número de Cuotas Partes  que se ofrecerá en cada suscripción, el valor de cada Cuota Parte y las demás condiciones de suscripción de los correspondientes Instrumentos de Inversión, tal como se establece en las cláusulas décima cuarta y décima quinta.
      18.7. Realizar las tareas de liquidación de los impuestos, cargas, derechos y contribuciones mencionadas en el apartado 18.3. de la cláusula décimo octava, elevando oportunamente el requerimiento de pago al Fiduciario.
      18.9. Colaborar y aportar al Fiduciario los datos, elementos e instrumentos a efectos de que este rinda cuenta de su gestión, respetando los plazos y requisitos establecidos en los apartados 8.2 y 8.3. de la cláusula octava.
      18.10. Designar al Fiduciario sustituto en los casos denunciados en la cláusula décima.
      18.11. Participar en el Beneficio que arroje este Fideicomiso una vez cumplido el plazo previsto o las causales de extinción.

      CAPITULO III
      LOS BENEFICIARIOS

      Cláusula Vigésima Sexta
      Designación de Beneficiarios
      Fideicomisario
      Serán considerados Beneficiarios de este Fideicomiso los Inversores o Fiduciantes (utilizando dichos términos en forma indistinta) y serán considerados Fideicomisarios de este Contrato.

      Cláusula Vigésima Séptima
      Calculo del  Beneficio de los Inversores
      27.1. El Beneficio que deberá distribuirse entre los titulares de los Instrumentos de Inversión  estará representado por la diferencia entre todos los  ingresos y egresos generada de la operación motivo de este Contrato. El valor obtenido de la manera descripta precedentemente deberá dividirse por el numero total de Cuotas Partes establecido en el Plan de Inversión señalado en la cláusula décima cuarta, determinándose de esta manera el valor de cada Cuota Parte, que será abonada a los correspondientes Beneficiarios, de acuerdo a lo establecido en los respectivos Instrumentos de Inversión.
      27.2. En caso que los bienes existentes en el fideicomiso al momento de la extinción y liquidación no fueren divisibles en partes iguales, se seguirá el procedimiento estipulado en la cláusula trigésima. 
      SECCION CUARTA
      EXTINCION Y LIQUIDACION DEL FIDEICOMISO

      Cláusula Vigésima Octava
      Extinción del Fideicomiso
      Este Fideicomiso se extinguirá, en cualquiera de las hipótesis contempladas en la cláusula tercera. Producida la extinción del Fideicomiso el Fiduciario deberá proceder a liquidar este Contrato conforme a la mecánica establecida en la cláusula trigésima.

      Cláusula Trigésima
      Liquidación Total del Fideicomiso
      30.1. En los casos denunciados en la cláusula tercera, el Fiduciario deberá proceder a realizar todas aquellas gestiones y operaciones tendientes a liquidar el Fideicomiso. A tal efecto, cancelará primero todas las deudas pendientes y si así corresponde escriturará a favor de los compradores y/o sus cesionarios las respectivas unidades funcionales vendidas.
      30.2.   En base al resultado de la operación señalada en el numeral anterior se calculará el valor de cada Cuota Parte  de acuerdo a lo determinado en la cláusula vigésima séptima. Ese importe será abonado  a cada Inversor conforme sea la cantidad de Cuotas Partes que corresponda a cada uno, conforme lo establezca el respectivo Instrumentos de Inversión.
      30.3. El Remanente Fiduciario será transferido en plena propiedad al Fiduciante. Se entregará a cada uno de los fiduciantes la misma cantidad de títulos valores en unidades no menores a uno. Las acciones o títulos valores remanentes, serán sometidos a un proceso de licitación a sobre cerrado, donde quien estipule el valor más alto adquirirá los títulos a ese precio. En caso que el fiduciante que ha fijado el valor más alto haya consignado una cantidad de títulos a adquirir que lo alcance el total de los remanentes, los títulos no asignados serán adjudicados a la siguiente mejor oferta hasta completar el cupo licitado. En caso de persistir un remanente, serán adjudicados a la subsiguiente oferta sucesivamente.


      SECCION  QUINTA
      DOMICILIOS ESPECIALES – JURISDICCIÓN – COMPETENCIA

      Cláusula Trigésima Primera
      Domicilios Especiales – Jurisdicción –
      Competencia
      Las partes constituyen domicilios especiales en los denunciados al comienzo y los Inversores constituirán domicilios en los respectivos Instrumentos de Inversión. Se  pacta expresamente la jurisdicción y competencia de los tribunales  ordinarios de la Ciudad de Buenos Aires.

      De conformidad y a un solo efecto se firman tres ejemplares de un mismo tenor en el lugar y fecha denunciado al comienzo.





    </textarea>


    <br><br><br><input type="checkbox" name="checkbox" value="check" />
    Acepto las condiciones del contrato.

    <br><br>
    <input type="submit" name="email_submit" value="Aceptar" onclick="if(!this.form.checkbox.checked){alert('Debes aceptar los términos y condiciones para poder proseguir.');return false}"  />
  </form>




{% endblock %}
