{% extends 'asociateyaBundle::ay_base.html.twig' %}


 {% block stylesheets %}
  <script>
    $(document).ready(function(){
      $("#boton_buscar").addClass("active");
    });
  </script>
 {% endblock %}

{% block body -%}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">

<div class="sidebar" id="sidebar_container">

  <!-- BUSCAR EMPRENDIMIENTOS -->
  <form method="get" action="{{ path('emprendimiento_busquedaFiltrada') }}" id="search_form">
    <div class="sidebar_item">
      <label class="titulo">Nombre:</label>
        <p>
          <input class="search" type="text" name="palabra" id="palabra" value="" />
        </p>

    <!-- FILTRAR EMPRENDIMIENTOS -->
        <label class="titulo">Categoria:</label><br>
        {% for categoria in categorias %}
          <input type="radio" id="{{categoria.nombre}}" value="{{categoria.nombre}}" name="categoria" ><label class="light" for="animales">{{categoria.nombre}}</label><br>
        {% endfor %}
        <br>
      <label class="titulo">Precio menor a:</label>
        <p>
          <input class="search" type="text" name="precio" id="precio" value="" />
          <br><button type="submit" id="boton_submit" class="boton boton_submit">Buscar</button>
        </p>
    </div>
  </form>




</div>

<div class="content" id="emp_content">

        {% if entities %}
            <h1>Emprendimientos</h1>
            <!-- EMPIEZA EL PORTAFOLIO -->
            <div id="portfolio_container">
                <ul>
                    {% for entity in entities %}
                      <li>
                        {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}
                      </li>
                    {% endfor %}

                </ul>
                <!--REFER TO THE js/drifolio.js-->
            </div><!-- TERMINA EL PORTAFOLIO -->
        {% else %}
            <h3>No se encontró ningun emprendimiento.</h3>
        {% endif %}
      </div>

{% endblock %}
