{% extends 'asociateyaBundle::ay_base.html.twig' %}


 {% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
 {% endblock %}

{% block body -%}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">

<div class="sidebar" id="sidebar_container">

  <!-- BUSCAR EMPRENDIMIENTOS -->
  <div class="sidebar_item">
    <h3>Buscar por nombre:</h3>
    <form method="post" action="{{ path('emprendimiento_busquedaPalabra') }}" id="search_form">
      <p>
        <input class="search" type="text" name="search_field" id="search_field" value="" />
        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src={{ asset('bundles/asociateya/Imagenes/search.png')}} alt="Search" title="Search" />
      </p>
    </form>
  </div>

  <!-- FILTRAR EMPRENDIMIENTOS -->
  <div class="sidebar_item">
    <h3>Buscar por:</h3>
    <form action="{{ path('emprendimiento_busquedaCategoria') }}" method="post" id="search_form">
      <label class="titulo">Categorias:</label><br>
      {% for categoria in categorias %}
        <input type="radio" id="{{categoria.nombre}}" value="{{categoria.nombre}}" name="area_emprendimiento" ><label class="light" for="animales">{{categoria.nombre}}</label><br>
      {% endfor %}
      <br><button type="submit" id="boton_submit" class="boton boton_submit">Buscar</button>
    </form>
  </div>
  <div class="sidebar_item">
    <h3>Buscar por precio menor a:</h3>
    <form action="{{ path('emprendimiento_busquedaPrecio') }}" method="post" id="search_form">
      <p>
        <input class="search" type="text" name="search_field" id="search_field" value="" />
        <br><button type="submit" id="boton_submit" class="boton boton_submit">Buscar</button>
      </p>
    </form>
  </div>

</div>

<div class="content" id="emp_content">

        {% if entities %}
            <h1>Emprendimientos</h1>
            <!-- EMPIEZA EL PORTAFOLIO -->
            <div id="portfolio_container">
                <ul>
                    {% for entity in entities %}

                        {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}

                    {% endfor %}

                </ul>
                <!--REFER TO THE js/drifolio.js-->
            </div><!-- TERMINA EL PORTAFOLIO -->
        {% else %}
            <h3>No se encontró ningun emprendimiento.</h3>
        {% endif %}
      </div>

{% endblock %}
