{% extends 'asociateyaBundle::ay_base.html.twig' %}


 {% block stylesheets %}
  <script>
    $(document).ready(function(){
      $("#boton_buscar").addClass("active");

      $('#boton_submit').click( function(event) {
        event.preventDefault();
        $.get( '{{path('emprendimiento_busquedaFiltrada')}}'+'?'+ $('#search_form').serialize(), function(data) {$("#resultados_content").html(data);},'html');
      });
    });
  </script>
 {% endblock %}

{% block body -%}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">

<div class="sidebar" id="sidebar_container">
  <div class="sidebar_item">
    <!-- BUSCAR EMPRENDIMIENTOS -->
    <form method="get" action=" " id="search_form">
      <br>
      <h3>Nombre:</h3>
      <input class="search" type="text" name="palabra" id="palabra" value="" />
      <br><br>

      <!-- FILTRAR EMPRENDIMIENTOS -->
      <h3>Categoria:</h3>
      <input type="radio" id="Todas" value="" name="categoria" ><label class="light" for="animales">Todas</label><br>
      {% for categoria in categorias %}
      <input type="radio" id="{{categoria.nombre}}" value="{{categoria.nombre}}" name="categoria" ><label class="light" for="animales">{{categoria.nombre}}</label><br>
      {% endfor %}
      <br>
      <h3>Precio menor a:</h3>
      <input class="search" type="text" name="precio" id="precio" value="" />
      <br>
      <br><button type="submit" id="boton_submit" class="boton boton_submit">Buscar</button>
      <br>
      <br><button type="reset" class="boton boton_submit">Limpiar</button>
      <br>
      <br>
    </form>
  </div>
</div>

<div class="content" >

        {% if entities %}
            <h1>Emprendimientos</h1>
            <!-- EMPIEZA EL PORTAFOLIO -->
            <div id="portfolio_container">
                <ul>
                    {% for entity in entities %}
                      <li>
                        {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: entity} %}
                      </li>
                    {% endfor %}

                </ul>
                <!--REFER TO THE js/drifolio.js-->
            </div><!-- TERMINA EL PORTAFOLIO -->
        {% else %}
            <h3>No se encontró ningun emprendimiento.</h3>
        {% endif %}
      </div>

{% endblock %}
