{% extends 'asociateyaBundle::ay_base.html.twig' %}



{% block title %}Nuevo emprendimiento{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/view.css')}} rel="stylesheet" type="text/css">
<script type="text/javascript" src={{ asset('bundles/asociateya/lib/js/view.js')}}></script>
  <link href="../style/css/formulario_asociacion.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="../lib/js/datos_emprendimiento.js"></script>
  <script type="text/javascript" src="../lib/js/subscripciones.js"></script>



{% endblock %}

{% block sidebar %}

	  <div id="sidebar_container">
        <div class="sidebar" id="sideBarPerfil">
          <div class="sidebar_top"></div>
          <div id="sidebar_emprendimiento" class="sidebar_item">
          	<div id="ID_imagenProyecto" class="image_holder">
            	<img src="../style/Imagenes/portfolio/imagenEjemplo.png" width="180" height="180">
            </div>
          	<h2>Creado por:</h2>
            <h1 id="ID_nombreCreador"><a href="perfil.html">{{entity.emprendedor.usuario.username}}</a></h1>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar" id="sideBarPerfil">
          <div class="sidebar_top"></div>
          <div id="sidebar_emprendimiento" class="sidebar_item">
          	<h3>Total recaudado</h3>
          	<div id="ID_barraProgreso" class="progress"></div>
            <br>
            <h3>Precio de la acción</h3>
            <h4 id="ID_precioAccion">{{entity.precioAccion}}</h4>
          </div>
          <div class="sidebar_base"></div>
        </div>
	  </div>

{% endblock %}



{% block body -%}

      <div class="content" id="pag2_content">
        <!-- insert the page content here -->
        <h1 id="ID_nombreProyecto">Asociate a {{entity.nombre}}</h1>
		<form action="../index.html" method="post">
         <h2>1) &iquest;Cu&aacute;nto desea inventir en este proyecto?</h2>
         	<label for="textbox1">Ingrese la cantidad de acciones a comprar:</label>
	 	  <input id="textbox1" type="text" onchange="muestraPrecio()"/>
    		<br><br>
            <label for="textbox2">El total invertido será de:</label>
            <input id="textbox2" type="text" value="$0" readonly/>
           	<br><br><br>
           
           	<h4 id="ID_precioAccion"></h4>

    		<!-- <input type="submit" value="Ingresar" /> -->
        
    	<h2>2) &iquest;C&oacute;mo quiere efectuar su pago?</h2>
        
        <a href=" {{ initPoint }}" name="MP-Checkout" class="orange-ar-m-sq-arall">Pay</a>
        <script type="text/javascript" src="http://mp-tools.mlstatic.com/buttons/render.js"></script>
        
 
        
        	<br><br><br><input type="checkbox" name="checkbox" value="check" />
        	Acepto las condiciones del contrato.
            
            <br><br>
          <input type="submit" name="email_submit" value="Aceptar" onclick="if(!this.form.checkbox.checked){alert('Debes aceptar los términos y condiciones para poder proseguir.');return false}"  />
		</form>
      </div>
      
    </div>

{% endblock %}
{% block javascripts %}



  <script type="text/javascript">
	document.getElementById("ID_precioAccion").innerHTML = "$" +  precioAccion;
	document.getElementById("ID_nombreProyecto").innerHTML = "Asociate a " + nombreProyecto;
	document.getElementById("ID_barraProgreso").innerHTML = '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + progresoBarra + '" aria-valuemin="0" aria-valuemax="100" style="width:' + progresoBarra + '%">' + progresoBarra + '%</div>'
	document.getElementById("ID_nombreCreador").innerHTML = '<a href="perfil.html">' + nombreCreador + '</a>';
	document.getElementById("ID_imagenProyecto").innerHTML = '<img src="../style/Imagenes/portfolio/' + imagenProyecto + '" width="180" height="180">';
  </script>

{% endblock %}