{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Emprendimiento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Monto</th>
                <th>Tipodemeta</th>
                <th>Nombre</th>
                <th>Rutaimagen</th>
                <th>Descripcioncorta</th>
                <th>Descripcionlarga</th>
                <th>Estado</th>
                <th>Precioaccion</th>
                <th>Totalacciones</th>
                <th>Accionesrestantes</th>
                <th>Ranking</th>
                <th>Fechacreacion</th>
                <th>Fechaaprobacion</th>
                <th>Fechacancelacion</th>
                <th>Fechafinalizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('emprendimiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.monto }}</td>
                <td>{{ entity.tipoDeMeta }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.rutaImagen }}</td>
                <td>{{ entity.descripcionCorta }}</td>
                <td>{{ entity.descripcionLarga }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.precioAccion }}</td>
                <td>{{ entity.totalAcciones }}</td>
                <td>{{ entity.accionesRestantes }}</td>
                <td>{{ entity.ranking }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaAprobacion %}{{ entity.fechaAprobacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaCancelacion %}{{ entity.fechaCancelacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFinalizacion %}{{ entity.fechaFinalizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('emprendimiento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('emprendimiento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('emprendimiento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
