{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Informacion par pago de ganancias{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/pagos.css')}} rel="stylesheet" type="text/css">
{% endblock %}


{% block body -%}


        <h1>Inversiones en el emprendimiento {{ emprendimiento.nombre }}</h1>
        Precio de la accion:{{emprendimiento.precioAccion}}<br>
        Coeficiente de ganancia:{{porGanancia}}

        <div class="tablaPagos">
            <table class="table2excel" data-tableName="Test Table 1">
                <tr>
                    <td>
                        Usuario
                    </td>
                    <td >
                        Nombre Completo
                    </td>
                    <td>
                        Cantidad de Acciones
                    </td>
                    <td>
                        Ganancias a pagar
                    </td>
                    <td>
                        CBU
                    </td>
                    <td>
                        Notificar
                    </td>
                </tr>
                {% for inversion in inversiones %}

                    <tr>
                        <td >
                            {{inversion.usuario.nombreUsuario}}
                        </td>
                        <td>
                            {{inversion.usuario.nombre}} {{inversion.usuario.apellido}}
                        </td>
                        <td>
                            {{inversion.cantidadAcciones}}
                        </td>
                        <td>
                            {{inversion.cantidadAcciones * emprendimiento.precioAccion * porGanancia|number_format(2, '.', ',')}}
                        </td>
                        <td>
                            {{inversion.usuario.cbu}}
                        </td>
                        <td>
                            <a href={{ path('emprendimiento_pagoGananciaNotificacion',{'id':inversion.usuario.getId}) }}>Notificar</a> 
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>
        
      </div>

{% endblock %}

