  <a href={{ path('emprendimiento_show',{'id':entity.getId}) }} class="link_texto_emprendimiento">
          <ul class="elemento_portfolio">
            <li class="imagen_elemento">
              <img src={{ asset('/uploads/emprendimientos/' ~ entity.rutaImagen) }} width="100" height="100">
            </li>
            <li class="contenedor_principal">
              <div class="titulo_texto">{{ entity.nombre }}
                {% if entity.estado == 0 %}(Pendiente){% endif %}
                {% if entity.estado == 2 %}(Aprobado){% endif %}
                {% if entity.estado == 3 %}(Cancelado){% endif %}
                {% if entity.estado == 4 %}(Cancelado){% endif %}
                {% if entity.estado == 6 %}(Aprobado){% endif %}
              </div>
              <div class="descripcion_texto">
                {{ entity.descripcionCorta }}
              </div>
            </li>
            <li class="contenedor_derecha">
              <ul style="width: 49%;float: right;">
                <li style="float: none; display: block;" class="etiqueta precio">
                  <strong>Acci&oacute;n</strong>: ${{ entity.precioAccion }}
                </li>
                <li style="float: none; display: block;" class="etiqueta acciones">
                  <strong>Disponibles:</strong> {{ entity.accionesRestantes }}
                </li>

                <li style="float: none; display: block;" class="etiqueta tiempo">
                  <strong>Tiempo restante:</strong>
                  {# endDate and startDate are strings or DateTime objects #}
                  {% set difference = date(entity.fechaFinalizacion).diff(date('now')) %}
                  {% set leftDays = difference.days %}
                  {% if leftDays == 1 %}
                    1 d&iacute;a
                  {% else %}
                    {{ leftDays }} d&iacute;as
                  {% endif %}
                </li>
              </ul>
              <ul style="width: 49%;float: right;">
                {% for categoria in entity.categorias %}
                  <li>
                    <div style="float: right;" class="etiqueta categoria">{{ categoria.nombre }}</div>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <!-- <div class="creador_elemento">Creado por {{ entity.emprendedor.usuario.username }} el {% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('d-m-Y') }}{% endif %}</div> -->
          </ul>

  </a>
