{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block stylesheets %}
  <link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
  <script type="text/javascript" src={{ asset('bundles/asociateya/lib/js/datos_emprendimiento.js')}}></script>
{% endblock %}

{% block sidebar %}
<div id="sidebar_container">
    <div class="sidebar" id="sideBarPerfil">
      <div class="sidebar_top"></div>
      <div id="sidebar_emprendimiento" class="sidebar_item">
        <div id="ID_imagenProyecto" class="image_holder"><img src={{ asset('/uploads/emprendimientos/' ~ entity.rutaImagen) }} width="180" height="180">
        </div>
        <h2>Creado por:</h2>
        <h1 id="ID_nombreCreador"><a href={{ path('usuario_show',{'id':entity.emprendedor.usuario.getId}) }}>{{entity.emprendedor.usuario.userName}}</a></h1>
      </div>
      <div class="sidebar_base"></div>
    </div>
    <div class="sidebar" id="sideBarPerfil">
      <div class="sidebar_top"></div>
      <div id="sidebar_emprendimiento" class="sidebar_item">
        <h3>Total recaudado</h3>
        <div id="ID_barraProgreso" class="progress"></div>
        <br>
        <h3>Precio de la acción</h3>
        <h4 id="ID_precioAccion">${{entity.precioAccion}}</h4>
      </div>
      <div class="sidebar_base"></div>
    </div>
    {% if app.user.getId == entity.emprendedor.usuario.getId  %}  
    {% else %}
    <div id="sideBarBotonAsociate">
        <a href="{{ path('emprendimiento_asociarse', { 'id': entity.id }) }}" class="botonPM">¡Asociate!</a>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block body -%}
      <div class="content" id="pag2_content">
        <!-- insert the page content here -->
        <h1 id="ID_nombreProyecto">{{ entity.nombre }}</h1>
        <h2>{{ entity.descripcionCorta }}</h2>
        <p>{{ entity.descripcionLarga }}</p>
   
        <iframe width="440" height="330" align="middle" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0"><br>
        </iframe>
        <br>
        
        <h3>Archivos subidos</h3>
        <div class="archivos_subidos">
            <ul>
                <li><a href="../lib/pdf/Autoorganizacion.pdf">  Autoorganizacion.pdf</a></li>
                <li><a href="../lib/pdf/ciencia_tecnologia.pdf">    ciencia_tecnologia.pdf</a></li>
            </ul>
        </div>
        <br><h3>Comentarios</h3>
        <ul>
          {% if comentarios %}
            {% for comentario in comentarios %}
              <li>
                <a href={{ path('usuario_show',{'id':comentario.usuario.getId}) }}>{{comentario.usuario.username}}</a>:{{comentario.texto}}
              </li>
            {% endfor %}
          {% else %}
            No hay comentarios aun.
          {% endif %}

          
          <form id="formulario_comentario" method="post" action="{{ path('emprendimiento_comentar',{'id':entity.getId}) }}" >
            {{ form_widget(formComentario.texto,{ 'attr': {'class': 'description'} }) }}
            <input type="submit" value="Comentar">
          </form> 

        </ul>
      </div>   
{% endblock %}

{% block javascripts %}
 <script type="text/javascript">
    document.getElementById("ID_barraProgreso").innerHTML = '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + progresoBarra + '" aria-valuemin="0" aria-valuemax="100" style="width:' + progresoBarra + '%">' + progresoBarra + '%</div>'
</script>
{% endblock %}
