{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
<link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
{% endblock %}

{% block sidebar %}

{% endblock %}


{% block body -%}

<div class="sidebar" id="sidebar_container">
  <div class="sidebar_item">
    <div id="ID_imagenProyecto" class="image_holder"><img src={{ asset('/uploads/emprendimientos/' ~ entity.rutaImagen) }} width="127" height="127"></div>
    <br>
    <h3>Emprendedor:</h3>
    <a class="etiqueta" href={{ path('usuario_show',{'id':entity.emprendedor.usuario.getId}) }}>{{entity.emprendedor.usuario.userName}}</a>
    <br>
    <br>
    <h3>Categorias</h3>
    <div id="contenedor_categorias" style="width: 100%; height: 100px;">
      {% for categoria in entity.categorias %}
          <div style="float: left;" class="etiqueta categoria">{{ categoria.nombre }}</div>
      {% endfor %}
    </div>
    <br>
    {% if entity.estado == '0' %}
      <h3>Pendiente de aceptación</h3>
    {% endif %}

    {% if entity.estado == '1'  %}
      <h3>Total recaudado</h3>
      {% if entity.totalAcciones>0 %}
      {% set progresoBarra = (( entity.totalAcciones - entity.accionesRestantes ) / entity.totalAcciones)*100 %}
      <div style="float: none; display: block; padding: 0px;" class="progress">
        <div style="width:{{progresoBarra}}%; height: 30px; font-size: 20px;vertical-align: middle;padding-top: 5px;" class="progress-bar progress-bar active" role="progressbar" aria-valuenow="{{progresoBarra}}" aria-valuemin="0" aria-valuemax="100">
          {{progresoBarra|number_format(0, '.', ',')}} %
        </div>
      </div>
      {% endif %}
      <br>
      <h3>Precio de la acción</h3>
      <h4 id="ID_precioAccion">${{entity.precioAccion}}</h4>
      Disponibles:<strong>{{ entity.accionesRestantes }}</strong> de <strong>{{ entity.totalAcciones }}</strong>
      <br>
      <br>
      <h3>Tiempo restante</h3>
      <strong>
      {# endDate and startDate are strings or DateTime objects #}
      {% set difference = date(entity.fechaFinalizacion).diff(date('now')) %}
      {% set leftDays = difference.days %}
      {% if leftDays == 1 %}
        1 d&iacute;a
      {% else %}
        {{ leftDays }} d&iacute;as
      {% endif %}
      </strong>

      <br>
      <br>

      {% if app.user.getId == entity.emprendedor.usuario.getId  %}
      <a href="{{ path('inversion_confirmarPagoRefund', { 'id': entity.id }) }}" class="boton">Cancelar</a>
      {% else %}
      <a href="{{ path('emprendimiento_asociarse', { 'id': entity.id }) }}" class="boton comprar">Comprar Acciones</a>
      {% endif %}
    {% endif %}

    {% if entity.estado == '2' %}
      <h3>Aprobado</h3>
      {% if app.user and is_granted('ROLE_SUPER_ADMIN')  %}
        <form method="post" action="{{ path('inversion_pagoGanancia',{ 'id': entity.id }) }}" id="search_form">
          <h3>Nuevo Resultado</h3>
          % de ganancias
          </br>
          </br>
          <input class="search" type="text" name="ganancia" id="ganancia" />
          </br>
          </br>
          <button name="search" type="submit"  class="boton">Pagar Ganancia</button>
        </form>
      {% endif %}
    {% endif %}

    {% if entity.estado == '3' %}
      <h3>Cancelado</h3>
    {% endif %}

    {% if entity.estado == '4' %}
      <h3>Cancelado</h3>
    {% endif %}

    {% if entity.estado == '6' %}
      <h3>Aprobado(Pendiente de acreditar)</h3>
    {% endif %}

    <br>
    <br>

  </div>
</div>




<div class="content" >
  <!-- insert the page content here -->
  <h1 id="ID_nombreProyecto">{{ entity.nombre }}</h1>
  <h3>{{ entity.descripcionCorta }}</h3>
  <p>{{ entity.descripcionLarga }}</p>

  <iframe style="border-radius: 8px;" width="440" height="330" align="middle" src="http://www.youtube.com/embed/{{ entity.rutaVideo }}?autoplay=0"><br>
  </iframe>
  <br>

  <!--         <h3>Archivos subidos</h3>
  <div class="archivos_subidos">
  <ul>
  <li><a href="../lib/pdf/Autoorganizacion.pdf">  Autoorganizacion.pdf</a></li>
  <li><a href="../lib/pdf/ciencia_tecnologia.pdf">    ciencia_tecnologia.pdf</a></li>
</ul>
</div> -->
{% if entity.estado  == '2' %}
<br><h3>Estados de Resultado</h3>
<br>
{% if entity.resultados %}

<div style="width:auto;height:400px;" id="chart_div"></div>
<br>
<script>
var chart = AmCharts.makeChart( $("#chart_div")[0], {
  "type": "serial",
  "theme": "light",
  "dataProvider": [
    {% for resultado in entity.resultados %}
    {"fecha": "{{resultado.fecha|date('d-m-Y')}}","%ganancia":{{resultado.monto}} },
    {% endfor %}
   ],
  "valueAxes": [ {
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  } ],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [ {
    "balloonText": "[[category]]: <b>[[value]]%</b>",
    "fillAlphas": 0.8,
    "lineAlpha": 0.2,
    "type": "column",
    "valueField": "%ganancia"
  } ],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "fecha",
  "categoryAxis": {
    "gridPosition": "start",
    "gridAlpha": 0,
    "tickPosition": "start",
    "tickLength": 20
  },
  "export": {
    "enabled": true
  }
});
</script>
{% else %}
No hay estados de resultado para mostrar.
<br>
{% endif %}
{% endif %}



<br><h3>Comentarios</h3>
<div class="comentariosEmprendimiento">
  <ul>
    {% if comentarios %}
    {% for comentario in comentarios %}
    {% if not comentario.comentarioPadre %}
    <li>
      <a href={{ path('usuario_show',{'id':comentario.usuario.getId}) }}>{{comentario.usuario.username}}</a>:&nbsp{{comentario.texto}}&nbsp<div class="colorGris">Fecha:&nbsp{{ comentario.fechaCreacion|date('d-m-Y') }}</div>

      {% if comentario.comentarioHijo %}
      <li style="margin-left: 40px;">
        Respuesta:&nbsp{{comentario.comentarioHijo.texto}}&nbsp<div class="colorGris">Fecha:&nbsp{{ comentario.comentarioHijo.fechaCreacion|date('d-m-Y') }}</div>
      </li>
      {% else %}
      {% if app.user.getId == entity.emprendedor.usuario.getId  %}
      <form method="post" action="{{ path('emprendimiento_responder',{'id':entity.getId,'idComentario':comentario.id}) }}" style="margin-left: 40px;">
        <input id="asociateyabundle_comentario_texto" name="asociateyabundle_comentario[texto]" required="required" maxlength="255" class="description" type="text">
        <input class="boton" type="submit" value="Responder">
      </form>
      {% endif %}
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% else %}
    No hay comentarios aun.
    {% endif %}
  </ul>
  <form id="formulario_comentario" method="post" action="{{ path('emprendimiento_comentar',{'id':entity.getId}) }}" >
    {{ form_widget(formComentario.texto,{ 'attr': {'class': 'description'} }) }}
    <input type="submit" value="Comentar" class="boton">
  </form>
</div>

</div>
{% endblock %}
