{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Perfil de {{ entity.nombre }} {{ entity.apellido }} {% endblock %}
{% block stylesheets %}
  <link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
  <link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
  <link href={{ asset('bundles/asociateya/css/usuario.css')}} rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}
    <div class="sidebar" id="sidebar_container">
        <div class="sidebar" id="sideBarPerfil">
            <div class="sidebar_top"></div>
            <div class="sidebar_item">
                <h1 id="ID_nombreCreador3">{{ entity.nombre }} {{ entity.apellido }}</h1>
                </br>
                <p>Contacto:</p>
                <p id="ID_mailCreador">{{ entity.email }}</p>
            </div>
            <div class="sidebar_base"></div>
        </div>
        {% if app.user.getId != entity.getId  %}
        <div id="sideBarBotonPM">
            <a href="#" class="botonPM">Envíale un<br>mensaje privado</a>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block body -%}


    <h1 class="centrado" id="ID_nombreCreador1">{{ entity.nombre }} {{ entity.apellido }} / {{ entity.nombreUsuario }}</h1>
    <p class="centrado">Inscripto el dia : {{ entity.fechaCreacion|date('Y-m-d') }}</p>

    {% if app.user.getId == entity.getId  %}
    <!-- Informacion solo para el usuario autenticado-->
    
    <ul id="nav_usuario" class="record_actions">
        <li class="editar">
            <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                Editar datos
            </a>
        </li>
        <li>
            <a href="{{ path('usuario_delete', { 'id': entity.id }) }}">
                Dar de baja
            </a>
        </li>
        <li>
            <a href="{{ path('emprendedor_new') }}">
                Aplicar para ser emprendedor
            </a>
        </li>
    </ul>
        {% endif %}

    <h1 id="ID_nombreCreador2">Emprendimientos de {{ entity.nombre }} {{ entity.apellido }} / {{ entity.nombreUsuario }}</h1>
    <div id="portfolio_container">
        <ul>
                {% for emprendimiento in emprendimientos %}

                    {% include 'asociateyaBundle:Emprendimiento:preview.html.twig' with {entity: emprendimiento} %}

                {% endfor %}
        </ul>
    </div>

{% endblock %}
