{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Mis Inversiones{% endblock %}
{% block stylesheets %}
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
  $(document).ready(function(){
    $("#boton_inversiones").addClass("active");
    $(".inversion").hover(function(){
      jQuery(".informacion_inversion", this).slideDown(400);
    },function(){
      jQuery(".informacion_inversion", this).fadeOut(10);
    });
  });
</script>
{% endblock %}


{% block body -%}
        <div style= "background-color: #f2f2f2; border-radius: 20px; width: 70%; height: 410px;margin-left:15%;margin-right:15%">
          <div style="float: left; margin: 2%; font-size:20px; width: 45%;">
            <div style="padding: 10px; border-radius: 20px; background-color:#e6e6e6;border: 4px outset #fafafa;">
              <div style="padding: 5px; border-radius: 20px; background-color:#FFF;">Usted ha invertido:</div>
              <div style="margin-left: 30%; font-size: 40px; background-color: #4CAF50; padding: 5px 20px; border-radius: 30px;color: #FFF; height: 50px;">
                <div style="float:left;">$</div>
                <div style="float:right;">{{ montoInvertido }}</div>
              </div>
            </div>
            <div style="padding: 10px; border-radius: 20px; background-color:#e6e6e6;border: 4px outset #fafafa;">
              <div style="padding: 5px; border-radius: 20px; background-color:#FFF;">Lo que le generó ganancias por:</div>
              <div style="margin-left: 30%; font-size: 40px; background-color: #4CAF50; padding: 5px 20px; border-radius: 30px;color: #FFF; height: 50px;">
                <div style="float:left;">$</div>
                <div style="float:right;">{{ montoGanado }}</div>
              </div>
            </div>
            <div style="padding: 10px; border-radius: 20px; background-color:#e6e6e6;border: 4px outset #fafafa;">
              <div style="padding: 5px; border-radius: 20px; background-color:#FFF;">Eficiencia de su inversión:</div>
              <div style="margin-left: 30%; font-size: 40px; background-color:#69F; padding: 5px 20px; border-radius: 30px;color: #FFF; height: 50px;">
                <div style="float:left;">%</div>
                <div style="float:right;">{{ eficienciaInversiones }}</div>
              </div>
            </div>


          </div>
          <div style="float: right; margin: 2%; font-size:20px; width: 45%;">
            <div style="padding: 10px; border-radius: 20px; background-color:#e6e6e6;border: 4px outset #fafafa;">
              <div style="padding: 5px; border-radius: 20px; background-color:#FFF;">Inversión trabajando:</div>
              <div style="margin-left: 30%; font-size: 40px; background-color:#69F; padding: 5px 20px; border-radius: 30px;color: #FFF; height: 50px;">
                <div style="float:left;">%</div>
                <div style="float:right;">{{ porcentInversionEfectiva }}</div>
              </div>
              <div style="margin-left: 30%; font-size: 40px; background-color: #4CAF50; padding: 5px 20px; border-radius: 30px;color: #FFF; height: 50px;">
                <div style="float:left;">$</div>
                <div style="float:right;">{{ inversionEfectiva }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="texto_emp">
            <div id="portfolio_container">
              <div style="text-align: right;" class="img_emp img_container">
              <h1>  <a class="boton"  href={{ path('emprendimiento_busqueda') }}>Buscar Emprendimientos</a>
              </h1>
              </div>
            {% if inversiones %}
                <ul>
                    {% for inversion in inversiones %}
                    <div class="inversion" id="emprendimiento{{ loop.index }}" >
                      {% include 'asociateyaBundle:Inversion:inversion.html.twig' with {inversion: inversion} %}
                      <!-- Es importante que la div del grafico este antes que el script -->
                      <div class="informacion_inversion" style="display:none;text-align: center;position:absolute;margin-left:111px;width: 1000px;box-shadow: -10px 10px 5px #888888;border: 3px solid #222;" id="pagos{{ loop.index }}" >
                        {% if inversion.pagos %}
                        <div class="elemento_mensaje">
                          <strong>Pagos</strong><br>
                        </div>
                          <ul class="elemento_mensaje">
                            <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                              Monto
                            </li>
                            <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                              Estado
                            </li>
                            <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                              Fecha de emision
                            </li>
                            <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                              Fecha de Acreditacion
                            </li>
                          </ul>
                          {% for pago in inversion.pagos %}
                            <ul class="elemento_inversion">
                              <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                                <strong>${{ pago.monto }}</strong>
                              </li>
                              <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                                {% if pago.estado == "1" %}Pendiente{% endif %}
                                {% if pago.estado == "2" %}Acreditado{% endif %}
                                {% if pago.estado == "3" %}Reembolsado{% endif %}
                              </li>
                              <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                                {{ pago.fechaEmision|date('d-m-Y') }}
                              </li>
                              <li style="float: left; width: 23%;text-align: center;" class="etiqueta">
                                {{ pago.fechaCobro|date('d-m-Y') }}
                              </li>
                            </ul>
                          {% endfor %}
                        {% endif %}

                      {% if inversion.emprendimiento.resultados|length > 0 %}
                        <div class="informacion_inversion elemento_mensaje" style="display:none;">
                          <strong>Historial de ganancias de la inversion</strong><br>
                        </div>
                        <div class="informacion_inversion" style="display:none;width:auto;  height:400px;text-align: center; background-color: #fff;"  id="ganancias{{inversion.id}}">
                        </div>
                        <script>
                        var chart{{inversion.id}} = AmCharts.makeChart( $("#ganancias{{inversion.id}}")[0], {
                          "type": "serial",
                          "theme": "light",
                          "dataProvider": [
                            {% for resultado in inversion.emprendimiento.resultados %}
                            {"fecha": "{{resultado.fecha|date('d-m-Y')}}","ganancia":{{ resultado.monto /100 * inversion.cantidadAcciones * inversion.emprendimiento.precioAccion }} },
                            {% endfor %}
                           ],
                          "valueAxes": [ {
                            "gridColor": "#FFFFFF",
                            "gridAlpha": 0.2,
                            "dashLength": 0
                          } ],
                          "gridAboveGraphs": true,
                          "startDuration": 1,
                          "graphs": [ {
                            "balloonText": "[[category]]: <b>$[[value]]</b>",
                            "fillAlphas": 0.8,
                            "lineAlpha": 0.2,
                            "type": "column",
                            "valueField": "ganancia"
                          } ],
                          "chartCursor": {
                            "categoryBalloonEnabled": false,
                            "cursorAlpha": 0,
                            "zoomable": false
                          },
                          "categoryField": "fecha",
                          "categoryAxis": {
                            "gridPosition": "start",
                            "gridAlpha": 0,
                            "tickPosition": "start",
                            "tickLength": 20
                          },
                          "export": {
                            "enabled": true
                          }
                        });
                        </script>

                      {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No ha invertido en ningun emprendimiento aun.</h3>
            {% endif %}
          </div>
        </div>


{% endblock %}
