<ul class="elemento_inversion">
  <a href={{ path('emprendimiento_show',{'id':inversion.emprendimiento.id}) }} >
  <li style="float: left; width: 25%;text-align: center;" class="etiqueta">
    <strong>{{ inversion.emprendimiento.nombre }}</strong>
  </li>
  </a>
  <div style="margin-right: 40px;">
    <li style="float: right;width: 20%;text-align: center;" class="etiqueta">
          Fecha:<strong> {{ inversion.fechaEmision|date('d-m-Y') }}</strong>
    </li>
    <li style="float: right;width: 20%;text-align: center;" class="etiqueta">
          Estado:<strong> {{ inversion.estado }}</strong>
    </li>
    <li style="float: right; width: 20%; text-align: center;" class="etiqueta precio">
          Acci&oacute;nes compradas:<strong>{{ inversion.cantidadAcciones }}</strong>
    </li>
  </div>
</ul>
