<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}{% endblock %}- Asociate Ya!</title>  
  <link rel="shortcut icon" type="image/x-icon" href={{ asset('bundles/asociateya/Imagenes/iconito32.png')}} />
  <link href={{ asset('bundles/asociateya/css/style.css')}} rel="stylesheet" type="text/css">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_izq"><a href={{ path('asociateya_homepage')}}>
          <div id="imagen_logo"><img src={{ asset('bundles/asociateya/Imagenes/billetin.png')}} width="70" height="70"></div>
          <div id="texto_logo"><img src={{ asset('bundles/asociateya/Imagenes/AsociateYa-logo.png')}} width="250" height="50">
            <p>Crowdfounding Argentina</p>
          </div>
        </a></div>
        <div id="logo_der">
          {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <div id="boton_perfil">
            <a href={{ path('usuario_show',{'id':app.user.getId}) }} class="boton_ingresar">{{ app.user.username }}</a>
          </div>
          <div id="boton_salir">
            <a href={{ path('asociateya_salir')}} class="boton_registrar">Salir</a>
          </div>

          {% else %}
          <div id="boton_login">
          	<a href={{ path('asociateya_ingresar')}} class="boton_ingresar">Ingresa</a>
          </div>
          <div id="boton_registro">
          	<a href={{ path('asociateya_formularioRegistrarse')}} class="boton_registrar">Registrate</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href={{ path('emprendimiento_listado') }}>Mis Emprendimientos</a></li>
            <li><a href={{ path('emprendimiento_busqueda') }}>Buscar</a></li>
            <li><a href={{ path('usuario_show',{'id':app.user.getId}) }}>Mi Perfil</a></li>
            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
              <li><a href={{ path('emprendedor_pendientes') }}>Aprobación</a></li>
              <li><a href={{ path('emprendimiento_pagosControl') }}>Pagos</a></li>
            {% endif %}
            <li><a href={{ path('asociateya_acerca_de')}}>Acerca De</a></li>
          {% else %}
            <li><a href={{ path('emprendimiento_busqueda') }}>Buscar</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="banner"></div>

      
      {% block sidebar %}<!--<div id="sidebar_container" class="img_container"></div>-->{% endblock %}
      

      
        <!-- insert the page content here -->
        {% block body %}
        <div class="content" id="home_content">
        </div>{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="paginas/mis_emprendimientos.html">Mis Emprendimientos</a> | <a href="paginas/buscar_emprendimientos.html">Buscar Emprendimientos</a> | <a href="paginas/perfil.html">Mi Perfil</a> | <a href="paginas/AcercaDe.html">Acerca De</a></p>
      <p>Proyecto final UTN - AsociateYa</p>
    </div>
  </div>
</body>
</html>
