<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}{% endblock %}Asociate Ya!</title>
  <link rel="shortcut icon" type="image/x-icon" href={{ asset('bundles/asociateya/Imagenes/iconito32.png')}} />
  <link href={{ asset('bundles/asociateya/css/style.css')}} rel="stylesheet" type="text/css">
  <link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      (function worker() {
        $.getJSON( "{{path('notificacion_nuevas')}}", function( data ) {
          var notificacionesNuevas = data['notificacionesNuevas'];
          if (notificacionesNuevas==0){
            $("#contadorNotificaciones").hide();
          }
          else{
            $("#contadorNotificaciones").show();
          }
          $("#contadorNotificaciones").text(notificacionesNuevas);
          setTimeout(worker, 5000);
        });
      })();


        // var botones = "#boton_buscar,#boton_emprendimientos, #boton_inversiones,#boton_perfil";
        // $("#boton_buscar").click(function(event){
        //   event.preventDefault();
        //   $.get("{{path('emprendimiento_busqueda')}}" , function(data, status){
        //       var body = $(data).find('#site_content');
        //       $(botones).removeClass("active");
        //       $("#boton_buscar").addClass("active");
        //       $("#site_content").html(body);
        //   });
        //   return false; //for good measure
        // });
        // $("#boton_emprendimientos").click(function(event){
        //     event.preventDefault();
        //     $.get("{{ path('emprendimiento_listado') }}" , function(data, status){
        //         var body = $(data).find('#site_content');
        //         $(botones).removeClass("active");
        //         $("#boton_emprendimientos").addClass("active");
        //         $("#site_content").html(body);
        //     });
        //     return false; //for good measure
        // });
        // $("#boton_inversiones").click(function(event){
        //   event.preventDefault();
        //   $.get("{{ path('inversion') }}" , function(data, status){
        //       var body = $(data).find('#site_content');
        //       $(botones).removeClass("active");
        //       $("#boton_inversiones").addClass("active");
        //       $("#site_content").html(body);
        //   });
        //   return false; //for good measure
        // });
        // {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        // $("#boton_perfil").click(function(event){
        //   event.preventDefault();
        //   $.get("{{ path('usuario_show',{'id':app.user.getId}) }}" , function(data, status){
        //       var body = $(data).find('#site_content');
        //       $(botones).removeClass("active");
        //       $("#boton_perfil").addClass("active");
        //       $("#site_content").html(body);
        //   });
        //   return false; //for good measure
        // });
        // {% endif %}
        // $("#boton_acercaDe").click(function(event){
        //   event.preventDefault();
        //   $.get("{{ path('asociateya_acerca_de')}}" , function(data, status){
        //       var body = $(data).find('#site_content');
        //       $("#site_content").html(body);
        //   });
        //   return false; //for good measure
        // });


    });

  </script>


  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div id="main">
    <div class="header">
      <div style="width: 80%;text-align: center;margin-left:10%;">
        <ul>
          <li>
          <a style ="padding: 15px 20px;"href={{ path('asociateya_homepage')}}><img src={{ asset('bundles/asociateya/Imagenes/AsociateYa-logo.png')}} width="182" height="30"></a>
          </li>


          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
          <li><a id="boton_buscar" href={{ path('emprendimiento_busqueda')}} >Buscar</a></li>
          <li><a id="boton_aprobacion" href={{ path('emprendedor_pendientes') }}>Aprobación</a></li>
          <li><a href={{ path('inversion_pagosControl') }}>Pagos</a></li>
          {% else %}
            {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              {% if app.user and is_granted('ROLE_EMPRENDEDOR') %}
              <li><a id="boton_emprendimientos" href={{ path('emprendimiento_listado') }} >Mis Emprendimientos</a></li>
              {% endif %}
            <li><a id="boton_inversiones" href={{ path('inversion') }}>Mis Inversiones</a></li>
            <li><a id="boton_buscar" href={{ path('emprendimiento_busqueda')}} >Buscar</a></li>
            {% else %}
            <li><a id="boton_buscar">Buscar</a></li>
            {% endif %}
          {% endif %}
          <ul style="float:right;list-style-type:none; width: auto; padding: 0px;">
          {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li style="height:100%;">
            <a  id="boton_perfil" href={{ path('usuario_show',{'id':app.user.getId}) }} >
              <div class="etiqueta nuevo" style="font-weight: bold;font-size: 10px;border-radius: 20px;float: left;display:none;" id="contadorNotificaciones"></div>
              <div style="float: right;"> {{ app.user.username }}</div>
            </a>
          </li>
          <li><a href={{ path('asociateya_salir')}} >Salir</a></li>
          {% else %}
          <li><a href={{ path('asociateya_ingresar')}} >Ingresa</a></li>
          <li><a href={{ path('asociateya_formularioRegistrarse')}} style="background-color: #ff9900 ">Registrate</a></li>
          {% endif %}
          </ul>
        </ul>
      </div>
    </div>
    <div class="site_content" id="site_content">
      <!-- <div id="banner"></div> -->


      {% block sidebar %}<!--<div id="sidebar_container" class="img_container"></div>-->{% endblock %}



        <!-- insert the page content here -->
        {% block body %}
        <div class="content" id="home_content">
        </div>{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </div>
    <div id="footer">
      <h2>Acerca De</h2>
              <p>Somos el grupo &quot;Asociate Ya&quot; de la materia Proyecto final de la Universidad Tecnologica Nacional. </p>
              <p><strong>Director de Cátedra:</strong> Dra. Inés Casanovas</p>
              <p><strong>Profesor a cargo del curso:</strong> Ing. Gabriela Salem</p>
              <p><strong>Profesor a cargo del proyecto:</strong> Ing. Federico Casuseslu, Ing. Nicolás Rodriguez</p>
              <div id="fotos_integrantes">
              	<h2>Integrantes</h2>
                <div class="foto_integrante" id="foto_hernan"><img src={{ asset('bundles/asociateya/Imagenes/fotos/Hernan.png') }} width="220" height="220">
                	<p>Hern&aacute;n Budic</p>
                </div>
                <div class="foto_integrante" id="foto_franco"><img src={{ asset('bundles/asociateya/Imagenes/fotos/Franco.png') }} width="220" height="220">
                  <p>Franco Tiberti</p>
                </div>
                <div class="foto_integrante" id="foto_maxi"><img src={{ asset('bundles/asociateya/Imagenes/fotos/Maxi.png') }} width="220" height="220">
                  <p>Maximiliano Rodriguez</p>
                </div>
                <div class="foto_integrante" id="foto_fede"><img src={{ asset('bundles/asociateya/Imagenes/fotos/Fede.png') }} width="220" height="220">
                	<p>Federico Croci</p>
                </div>
              </div>
    </div>
  </div>
</body>
</html>
