{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Emprendedores pendientes de aprobacion{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
<link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
<link href={{ asset('bundles/asociateya/css/normalize.css')}} rel="stylesheet" type="text/css">
{% endblock %}


{% block body -%}
<h1>Emprendedores pendientes de aprobación:</h1>

<table class="records_list">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        {% for entity in emprendedores %}
        <tr>
            <td>{{ entity.usuario.username }}</td>           
            <td>

                        <a href="{{ path('emprendedor_aprobar', { 'id': entity.id }) }}">Aprobar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Emprendimientos pendientes de aprobación:</h1>

<table class="records_list">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        {% for entity in emprendimientos %}
        <tr>
            <td>{{ entity.nombre }}</td>           
            <td>

                        <a href="{{ path('emprendimiento_aprobar', { 'id': entity.id }) }}">Aprobar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
