{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Emprendedores pendientes de aprobacion{% endblock %}
{% block stylesheets %}
<link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
<link href={{ asset('bundles/asociateya/css/pendientes.css')}} rel="stylesheet" type="text/css">
{% endblock %}


{% block body -%}
<h1 class="centrado">Emprendedores pendientes de aprobación:</h1>

<table class="records_list">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        {% for entity in emprendedores %}
        <tr>
            <td class="nombrePendiente">
                {{ entity.usuario.username }}
            </td>           
            <td>
                <a class="botonPendientes botonAprobar" href="{{ path('emprendedor_aprobar', { 'id': entity.id }) }}">Aprobar</a>
            </td>
            <td>
                <a class="botonPendientes botonNoAprobar" href="#">No Aprobar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1 class="centrado">Emprendimientos pendientes de aprobación:</h1>

<table class="records_list">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        {% for entity in emprendimientos %}
        <tr>
            <td class="nombrePendiente">
                {{ entity.nombre }}
            </td>           
            <td>
                <a class="botonPendientes botonAprobar" href="{{ path('emprendimiento_aprobar', { 'id': entity.id }) }}">Aprobar</a>
            </td>
            <td>
                <a class="botonPendientes botonNoAprobar" href="#">No Aprobar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
