{% extends 'asociateyaBundle::ay_base.html.twig' %}

{% block title %}Emprendedores pendientes de aprobacion{% endblock %}
{% block stylesheets %}
  <link href={{ asset('bundles/asociateya/css/perfil.css')}} rel="stylesheet" type="text/css">
  <link href={{ asset('bundles/asociateya/css/emprendimientos.css')}} rel="stylesheet" type="text/css">
  <link href={{ asset('bundles/asociateya/css/normalize.css')}} rel="stylesheet" type="text/css">
{% endblock %}


{% block body -%}
    <h1>Emprendedores pendientes de aprobacion</h1>

    <table class="records_list">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.usuario.username }}</td>           
                <td>
                <ul>
                    <li>
                        <a href="{{ path('emprendedor_aprobar', { 'id': entity.id }) }}">Aprobar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
